<%# local variables: %>
<%# f: form object %>
<%# countries: all the countries %>
<div class="row form-row">
  <div class="col-lg-6">
    <label>First Name</label>
    <%= f.text_field :firstname %>
  </div>
  <div class="col-lg-6">
    <label>Last Name</label>
    <%= f.text_field :lastname %>
  </div>
</div>

<div class="row form-row">
  <div class="col-lg-6">
    <label>Title:</label>
    <%= f.text_field :title %>
  </div>
  <div class="col-lg-6">
    <label>Degree:</label>
    <%= f.text_field :degree %>
  </div>
</div>

<div class="row form-row">
  <div class="col-lg-6">
    <label>Organization:</label>
    <%= f.text_field :organization %>
  </div>
  <div class="col-lg-6">
    <label>Badge First Name(if different than above):</label>
    <%= f.text_field :degree %>
  </div>
</div>
<hr>

<div class="row form-row">
  <div class="col-lg-6">
    <label>Address1:</label>
    <%= f.text_field :address1 %>
  </div>
  <div class="col-lg-6">
    <label>Address2:</label>
    <%= f.text_field :address2 %>
  </div>
</div>

<div class="row form-row">
  <div class="col-lg-6 country">
    <label>Country:</label>
    <%= f.select :country_id, Country.all.collect {|country| [country.name, country.id]}, selected: '214', include_blank: true %>
  </div>
  <div class="col-lg-6 city">
    <label>State:</label>
    <% unless f.object.is_us? %>
      <%= f.text_field :state %>
    <% else %>
      <%= f.select :state_id, State.all.collect {|state| [state.name, state.id]}, include_blank: true %>
    <% end %>
  </div>
</div>

<div class="row form-row">
  <div class="col-lg-6">
    <label>City:</label>
    <%= f.text_field :city %>
  </div>
  <div class="col-lg-6">
    <label>Zip/Postal code:</label>
    <%= f.text_field :zipcode %>
  </div>
</div>