<div class="row">
  <div class="col-lg-6">
    <label>First Name</label>
    <%= f.text_field :firstname %>
  </div>
  <div class="col-lg-6">
    <label>Last Name</label>
    <%= f.text_field :lastname %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <label>Title:</label>
    <%= f.text_field :title %>
  </div>
  <div class="col-lg-6">
    <label>Degree:</label>
    <%= f.text_field :degree %>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <label>Organization:</label>
    <%= f.text_field :organization %>
  </div>
  <div class="col-lg-6">
    <label>Badge First Name(if different than above):</label>
    <%= f.text_field :degree %>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-6">
    <label>Address1:</label>
    <%= f.text_field :address1 %>
  </div>
  <div class="col-lg-6">
    <label>Address2:</label>
    <%= f.text_field :address2 %>
  </div>
</div>