<h1>Listing Line Items</h1>

<table class="table table-hover">
  <tr>
    <th>Event Name</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Quantity</th>
    <th>Quantity Left</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.event.name %></td>
    <td><%= line_item.description %></td>
    <td><%= number_to_currency(line_item.amount) %></td>
    <td><%= line_item.quantity %></td>
    <td><%= line_item.quantity_left %></td>
    <td><%= link_to 'Show', line_item %></td>
    <td><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
    <td><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Line item', new_line_item_path %>
