<div class="masthead">
  <div class="logo banner center">
    <%= link_to root_path do %>
      <%= image_tag asset_path('home/5th_arc_banner.png'), alt: 'arc_conference_banner_light', :class => 'arc-banner' %>
    <% end %>
  </div>
  <ul class="nav nav-justified">
    <li class="<%= controller.action_name == 'home'       ? 'active' : '' %>"><%= link_to "Home", root_path %></li>
    <li class="<%= controller.action_name == 'about_us'   ? 'active' : '' %>"><%= link_to "About Us", about_us_path %></li>
    <li class="<%= controller.action_name == 'program'    ? 'active' : '' %>"><%= link_to "Program",  program_path %></li>
    <li class="<%= controller.action_name == 'travel'     ? 'active' : '' %>"><%= link_to "Travel", travel_path %></li>
    <li class="<%= controller.action_name == 'index'   ? 'active' : '' %>"><%= link_to signed_in? ? "Register" : "Register Now", events_path %></li>

    <% if signed_in? %>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="<%= controller.controller_path == 'sessions' && controller.action_name == 'new' ? 'active' : '' %>"><%= link_to "Sign in", signin_path %></li>
    <% end %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">...</a>
      <ul class="dropdown-menu">
        <li class="<%= controller.action_name == 'workshop'   ? 'active' : '' %>"><%= link_to "Workshop", workshop_path %></li>
        <li class="<%= controller.action_name == 'partners'   ? 'active' : '' %>"><%= link_to "Partners & Exhibitors", partners_path %></li>
        <li class="<%= controller.action_name == 'contact_us' ? 'active' : '' %>"><%= link_to "Contact Us", contact_us_path %></li>
        <% if signed_in? %>
          <li><%= link_to "Users", users_path %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>